{% block title %}
Registro de Usuarios
{% endblock %}

{% block content %}
{% if messages %}
{% for message in mesages %}
<div class="" {{messages.tags }}>{{message}} </div>
{% endfor %}
{% endif %}

<br>
<div>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
    </head>
    <div>
        <div>
            <div>
                <h4></h4>
                <p>
                    <!-- 
                    ///////////////////////////////////////////////////FORMA 1
                    <form action="post">
                        {% csrf_token %}
                        {% form.as_p %}
                        <input type="submit">
                        <p>
                            <label for="">USERNAME</label>
                            <input type="text">
    
                        </p>
                        <p>
                            <label for="">EMAIL</label>
                            <input type="text">
    
    
                        </p>
                        <p>
                            <label for="">FIRST NAME</label>
                            <input type="text">
    
    
                        </p>
                        <p>
                            <label for="">LAST NAME</label>
                            <input type="text">
    
    
                        </p>
                        <p>
                            <label for="">PASSWORD</label>
                            <input type="text">
    
    
                        </p>
                        <ul>
                            <li> the two password</li>
                        </ul>
                        <p>
                            <label for="id_password2" autocomplete="new-password" for=""></label>
                            <input type="text">
                            <span></span>
                        </p>
                        <input type="text">
    
    
                    </form> -->



                    <!-- #///////////////////////FORMULARIO CREACIÓN DE USUARIO ////////////////////////// -->
                    <!-- //////////FORMA 2//////////////// -->
                <form action="">
                    {% csrf_token %}
                    {% form.as_p %}
                    <input type="submit" value="Create">
                </form>
                <!-- #///////////////////////FIN FORMULARIO CREACIÓN DE USUARIO ////////////////////////// -->

                </p>
            </div>

        </div>

    </div>
    {% endblock %}